<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Blog about a Car</title>
<link rel="stylesheet" type="text/css" href="{{ asset('blogPostStyle.css') }}" />
</head>

<body>
<div id="mainwrapper">
  <header> <!--**************************************************************************
    Header starts here. It contains Logo and 3 navigation links. 
    ****************************************************************************-->
    <div id="logo"><!-- <img src="logoImage.png" alt="sample logo"> --><!-- Company Logo text --><strong>Бложик про машинку</strong></div>
    <article> </article>
  </header>
<div id="content">
  <footer> 
      <!--************************************************************************
    Footer starts here
    ****************************************************************************-->
    </footer>
</div>
	<h2>{{date}} </h2>
	<article>{{post}}</article>
<div id="footerbar"><!-- Small footerbar at the bottom --></div>
</div>
</body>
</html>
